<!DOCTYPE html>
<html ng-app="mtaWidget">
  <head>
    <title>MTA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <link rel="stylesheet" href="//chameleon.teknision.com/widgets/common/css/chameleon.css" data-skip="true">
    <link rel="stylesheet" href="//s3.amazonaws.com/widgetgecko/london-tube/css/widget.css">
    <link rel="stylesheet" href="css/lines.css">
  </head>
  <body ng-controller="MtaStatusCtrl">
    <div id="chameleon-widget">
      <div id="line-status-table">
        <div ng-repeat="line in lines" status-line="line" class="line-status" ng-click="lineClicked(line)">
          <div class="name colour"><span>{{line.name}}</span></div>
          <div class="status"><span ng-bind-html="line.status | titlecase | split: ','"></span></div>
        </div>
        <div class="line-status-footer line-status">
          <div>Last updated</div>
          <div><span time-from-now="lastUpdated"></span></div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="//www.bugsense.com/static/js/global/bugsense.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//chameleon.teknision.com/widgets/common/js/chameleon.server.js"></script>
    <script type="text/javascript" src="//chameleon.teknision.com/widgets/common/js/chameleon.js"></script>
    <script type="text/javascript" src="//chameleon.teknision.com/widgets/common/js/chameleon.jquery.js"></script>
    <script type="text/javascript" src="//chameleon.teknision.com/widgets/common/js/chameleon.localization.jquery.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/widgetgecko/common/js/services/0.0.6/services.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
    <script type="text/javascript" src="js/app.js#0.1.10"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/widgetgecko/london-tube/js/filters.js#0.1.10"></script>
    <script type="text/javascript" src="js/services.js#0.1.10"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/widgetgecko/london-tube/js/directives.js#0.1.10"></script>
    <script type="text/javascript" src="js/controllers.js#0.1.10"></script>
  </body>
</html>
